{% extends(':public:BSsimplePageRoot.html.twig') %}
{% set colsbtn = 'col-md-2 col-sm-3 col-xs-4' %}
{% set notReady = false %}
{% set brokens = false %}
{% set affNotCreated = true %}
{% set affNotRelated = true %}

{% block metatitles %}
	<meta http-equiv="refresh" content="{{ timelaps|default('2') }};{{ numlot }}">
	{{ parent() }}
{% endblock metatitles %}
{% block title %}Rapports générés{% endblock title %}
{% block body %}
	<div class="container-fluid">
		<div class='row'>
			<h2 class="well well-xs">
				{% if rapports is iterable %}
					{% if rapports|length > 0 %}
					{{ rapports[0].getField('type_rapport') }} - {{ rapports[0].getField('local_adresse') }}
					{% endif %}
				{% elseif numlot is not null %}
					Liste des rapports du lot {{ numlot }}
				{% else %}
					Liste de rapports…
				{% endif %}
			</h2>
			{% if rapports is iterable %}
			{% if rapports|length > 0 %}
			{% for rapport in rapports %}
			{% if pdf[rapport.getField("id")] != false and rapport.getField('a_traiter') == "1" %}
			<div class='{{ colsbtn|raw }} bloc-rapport' style='text-align:center;'>
				<h4>
					{{ rapport.getField("Fk_Id_Local")|raw }}<br>
					<small>{{ rapport.getField("type_rapport")|raw }} v.{{ rapport.getField("version")|raw }}</small>
				</h4>
				<a class="btn btn-primary" href="#" role="button">
					<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Voir PDF
				</a>
			</div>
			{% elseif affNotCreated == true and pdf[rapport.getField("id")] != false %}
			<div class='{{ colsbtn|raw }} bloc-rapport' style='text-align:center;'>
				<h4>
					{{ rapport.getField("Fk_Id_Local")|raw }}<br>
					<small>{{ rapport.getField("type_rapport")|raw }} v.{{ rapport.getField("version")|raw }}</small>
				</h4>
				<a class="btn btn-info" href="#" role="button" disabled="disabled">
					<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>&nbsp;En cours…
				</a>
			</div>
			{% set notReady = true %}
			{% elseif affNotRelated == true and pdf[rapport.getField("id")] == false %}
			<div class='{{ colsbtn|raw }} bloc-rapport' style='text-align:center;'>
				<h4>
					{{ rapport.getField("Fk_Id_Local")|raw }}<br>
					<small>{{ rapport.getField("type_rapport")|raw }} v.{{ rapport.getField("version")|raw }}</small>
				</h4>
				<a class="btn btn-danger" href="#" role="button" disabled="disabled">
					<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;Erreur
				</a>
			</div>
			{% set brokens = true %}
			{% endif %}
			{% endfor %}
		</div>
		{% if notReady == false %}
		<hr>
		<div class='row'>
			<div class="col-md-4 col-sm-3 col-xs-2"></div>
			<div class="col-md-4 col-sm-6 col-xs-8">
				<a href='{{ url("ensemble01filemaker_ZIP_listeRapportsLots", {numlot: numlot}) }}' type="button" class="btn btn-primary btn-lg btn-block">
					<span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;Télécharger ZIP
				</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-2"></div>
		</div>
		{% endif %}
		{% if notReady == true %}
		<hr>
		<div class='row'>
			<div class="alert alert-info" role="alert">
				<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;Les éléments en bleu clair sont des fichiers PDF en cours de génération.<br>
			</div>
		</div>
		{% endif %}
		{% if brokens == true %}
		<hr>
		<div class='row'>
			<div class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-danger" aria-hidden="true"></span>&nbsp;Les éléments en rouge sont des fichiers PDF sans rapport générés.<br>
			</div>
		</div>
		{% endif %}
		{% else %}
		<br>
		<br>
		<div class='row'>
			<div class="alert alert-warning" role="alert">
				<p>Aucun rapport pour l'instant…</p>
			</div>
		</div>
		{% endif %}
		{% else %}
		<br>
		<br>
		<div class='row'>
			<div class="alert alert-danger" role="alert">
				<p>{{ rapports }}</p>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock body %}