{% set colsbtn = 'col-lg-2 col-md-3 col-sm-4 col-xs-6' %}
{% set test = true %}
{% set notReady = false %}
{% set brokens = false %}
{% set download = false %}
{% set affNotCreated = true %}
{% set affNotRelated = true %}

{% if rapports is iterable %}
{% if rapports|length > 0 %}
<div class='row'>
{% for rapport in rapports %}
	{% if pdf[rapport.getField("id")] != false and rapport.getField('a_traiter') == "1" %}
	<div id='local-{{ rapport.getField("id")|raw }}' class='{{ colsbtn|raw }} bloc-rapport rapport-ok' style='text-align:center;'>
		<div class="thumbnail">
			<div class="caption">
				<h5>
					{{ rapport.getField("rapport_nom")|raw }}
					<br>
					<small>{{ rapport.getField("type_rapport")|raw }}</small>
				</h5>
				<div class="btn-group btn-group-justified" role="group" aria-label="{{ rapport.getField('id')|raw }}">
					<a class="btn btn-primary" href="{{ url('ensemble01site_rapportsload', {id: rapport.getField('id')}) }}" role="button" title="Charger PDF">
						<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
					</a>
					<a class="btn btn-primary URLext" href="{{ url('ensemble01site_rapportscreen', {id: rapport.getField('id')}) }}" role="button" title="Visualiser PDF">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					</a>
					<a class="btn btn-primary rapportPDFrefresh" href="{{ url('ensemble01site_rapportPDFrefresh', {id: rapport.getField('id')}) }}" data-loader-image="{{ asset('bundles/ensemble01filemaker/images/ajax-loader.gif') }}" data-href="{{ url('ensemble01site_rapportPDFrefresh', {id: rapport.getField('id')}) }}" role="button" title="Regénérer PDF">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					</a>
				</div>
<!-- 				<div class="btn-group">
					<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Charger PDF</button>
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a class="rapportPDFrefresh" href="{{ url('ensemble01site_rapportPDFrefresh', {id: rapport.getField('id')}) }}" data-href="{{ url('ensemble01site_rapportPDFrefresh', {id: rapport.getField('id')}) }}">Regénérer PDF</a></li>
					</ul>
				</div> -->
			</div>
		</div>
	</div>
	{% set download = true %}
	{% elseif affNotCreated == true and pdf[rapport.getField("id")] != false %}
	<div id='local-{{ rapport.getField("id")|raw }}' class='{{ colsbtn|raw }} bloc-rapport rapport-onair' style='text-align:center;'>
		<div class="thumbnail">
			<div class="caption">
				<h5>
					{{ rapport.getField("rapport_nom")|raw }}
					<br>
					<small>{{ rapport.getField("type_rapport")|raw }}</small>
				</h5>
				<a class="btn btn-info URLext" href="{{ url('ensemble01site_rapportscreen', {id: rapport.getField('id')}) }}" role="button" disabled="disabled">
					<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>&nbsp;Ecriture…
				</a>
			</div>
		</div>
	</div>
	{% set notReady = true %}
	{% elseif affNotRelated == true and (pdf[rapport.getField("id")] == false and rapport.getField('a_traiter') == "1" ) %}
	<div id='local-{{ rapport.getField("id")|raw }}' class='{{ colsbtn|raw }} bloc-rapport rapport-missing' style='text-align:center;'>
		<div class="thumbnail">
			<div class="caption">
				<h5>
					{{ rapport.getField("rapport_nom")|raw }}
					<br>
					<small>{{ rapport.getField("type_rapport")|raw }}</small>
				</h5>
				<div>
					<button class="btn btn-danger rapportPDFrefresh" data-loader-image="{{ asset('bundles/ensemble01filemaker/images/ajax-loader.gif') }}" data-href="{{ url('ensemble01site_rapportPDFrefresh', {id: rapport.getField('id')}) }}" role="button" title='Générer le PDF manquant'>
						<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;PDF Absent
					</button>
				</div>
			</div>
		</div>
	</div>
	{% set brokens = true %}
	{% elseif affNotRelated == true and (pdf[rapport.getField("id")] == false and rapport.getField('a_traiter') == "1" ) %}
	<div id='local-{{ rapport.getField("id")|raw }}' class='{{ colsbtn|raw }} bloc-rapport rapport-standby' style='text-align:center;'>
		<div class="thumbnail">
			<div class="caption">
				<h5>
					{{ rapport.getField("rapport_nom")|raw }}
					<br>
					<small>{{ rapport.getField("type_rapport")|raw }}</small>
				</h5>
				<a class="btn btn-default URLext" href="{{ url('ensemble01site_rapportscreen', {id: rapport.getField('id')}) }}" role="button" disabled="disabled">
					<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;Attente…
				</a>
			</div>
		</div>
	</div>
	{% set notReady = true %}
	{% endif %}
{% endfor %}
</div>
{% else %}
<br>
<br>
<div class='row'>
	<div class="alert alert-warning" role="alert">
		<p>Aucun rapport pour l'instant…</p>
	</div>
</div>
{% endif %}
{% else %}
<br>
<br>
<div class='row'>
	<div class="alert alert-danger" role="alert">
		<p>{{ rapports }}</p>
	</div>
</div>
{% endif %}
