{% import "ensemble01filemakerBundle:public-views:live-macros.html.twig" as base %}

{% set colsbtn = 'col-lg-2 col-md-3 col-sm-4 col-xs-6' %}

{% if rapports is iterable %}
{% if rapports|length > 0 %}
<div class='row'>
{% for rapport in rapports %}
	{% set id = rapport.getField("id") %}
	{% if pdf[id]['statut'] == 1 %}
	<div id='local-{{ id|raw }}' class='{{ colsbtn|raw }} bloc-rapport rapport-ok' style='text-align:center;'>
		<div class="thumbnail">
			<div class="caption">
				<h5>
					{{ base.blocRapport(rapport) }}
				</h5>
				<div class="btn-group btn-group-justified" role="group" aria-label="{{ rapport.getField('id')|raw }}">
					<a class="btn btn-primary" href="{{ url('ensemble01site_rapportsload', {id: rapport.getField('id')}) }}" role="button" title="Charger PDF">
						<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
					</a>
					<a class="btn btn-primary fancybox fancybox.iframe" href="{{ url('ensemble01site_rapportscreen', {id: rapport.getField('id')}) }}" role="button" title="Visualiser PDF">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					</a>
					<a class="btn btn-primary rapportPDFrefresh" href="{{ url('ensemble01site_rapportPDFrefresh', {id: rapport.getField('id')}) }}" data-loader-image="{{ asset('bundles/ensemble01filemaker/images/ajax-loader.gif') }}" data-href="{{ url('ensemble01site_rapportPDFrefresh', {id: rapport.getField('id')}) }}" role="button" title="Regénérer PDF">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	{% elseif pdf[id]['statut'] == 2 %}
	<div id='local-{{ id|raw }}' class='{{ colsbtn|raw }} bloc-rapport rapport-missing' style='text-align:center;'>
		<div class="thumbnail">
			<div class="caption">
				<h5>
					{{ base.blocRapport(rapport) }}
				</h5>
				<div class="btn-group btn-group-justified" role="group" aria-label="{{ rapport.getField('id')|raw }}">
					<div class="btn-group" role="group">
						<button class="btn btn-danger rapportPDFrefresh" data-loader-image="{{ asset('bundles/ensemble01filemaker/images/ajax-loader.gif') }}" data-href="{{ url('ensemble01site_rapportPDFrefresh', {id: rapport.getField('id')}) }}" role="button" title='Générer le PDF manquant'>
							<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;PDF Absent
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% elseif pdf[id]['statut'] == 3 %}
	<div id='local-{{ id|raw }}' class='{{ colsbtn|raw }} bloc-rapport rapport-onair' style='text-align:center;'>
		<div class="thumbnail">
			<div class="caption">
				<h5>
					{{ base.blocRapport(rapport, null, "PDF en cours…") }}
				</h5>
				<div class="btn-group btn-group-justified" role="group" aria-label="{{ rapport.getField('id')|raw }}">
					<div style="width:100%;margin-top:6px;height:28px;text-align:center;">
						<img src="{{ asset('bundles/ensemble01filemaker/images/ajax-loader.gif') }}" />
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endfor %}
</div>
{% else %}
<br>
<br>
<div class='row'>
	<div class="alert alert-warning" role="alert">
		<p>Aucun rapport pour l'instant…</p>
	</div>
</div>
{% endif %}
{% else %}
<br>
<br>
<div class='row'>
	<div class="alert alert-danger" role="alert">
		<p>{{ rapports }}</p>
	</div>
</div>
{% endif %}

