{% extends(':public:BSsimplePageRoot.html.twig') %}
{% block metatitles %}
	<!-- <meta http-equiv="refresh" content="{{ timelaps|default('10') }};{{ numlot }}"> -->
	{{ parent() }}
{% endblock metatitles %}
{% block title %}Rapports générés{% endblock title %}
{% block body %}
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					{% if rapports is iterable and rapports|length > 0 %}
						{{ rapports[0].getField('type_rapport') }}
					{% else %}
						Live Rapports
					{% endif %}
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<p class="navbar-text hidden-xs">
						<span id='visu'><span class="glyphicon glyphicon-time" aria-hidden="true" style="color:#337ab7;"></span></span>
					</p>
					<li>
						<a href="{{ url('ensemble01filemaker_homepage') }}" class='URLext'>Géodiag Web</a>
					</li>
					<li id="zonzon">
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li id="download-Zip-Button-1" style="display:none;">
						<a data-numlot="{{ numlot }}" href='{{ url("ensemble01filemaker_ZIP_listeRapportsLots", {numlot: numlot}) }}' type="button" class="btn btn-sm btn-primary navbar-btn">
							<span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;Télécharger ZIP
						</a>
					</li>
					<li id="download-Zip-Button-2" style="display:none;">
						<a data-numlot="{{ numlot }}" href='{{ url("ensemble01filemaker_ZIP_listeRapportsLots", {numlot: numlot}) }}' type="button" class="btn btn-sm btn-primary navbar-btn disabled">
							<span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;Incomplet ZIP
						</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">
					{% if rapports is iterable and rapports|length > 0 %}
						<span id="rapport-quantity">{% if rapports is iterable %}{{ rapports|length }}{% endif %}</span>
						{{ rapports[0].getField('type_rapport') }}<small> - {{ rapports[0].getField('local_adresse') }} {{ rapports[0].getField('local_cp') }} {{ rapports[0].getField('local_ville') }}</small>
					{% elseif numlot is not null %}
						Lot {{ numlot }} <small>Aucun rapport trouvé.</small>
					{% endif %}
				</h2>
			</div>
		</div>
		<!-- /.row -->

		<span id='lot-{{ numlot }}' class="ajax-reload" data-url='{{ url("ensemble01filemaker_check_listeRapportsLots", {numlot: numlot}) }}'>
			<div style="width:100%;height:300px;background: transparent url({{ asset('bundles/ensemble01filemaker/images/ajax-loader.gif') }}) center center no-repeat;border:none;margin:0px;padding:0px;"></div>
			{# include("ensemble01filemakerBundle:public-views:liste-rapports-in-bloc.html.twig") #}
		</span>
		{#
		<br>
		<br>
		<div class='row' id="download-Zip-Button-1" style="display:none;">
			<div class="col-md-4 col-sm-3 col-xs-2"></div>
			<div class="col-md-4 col-sm-6 col-xs-8">
				<a data-numlot="{{ numlot }}" href='{{ url("ensemble01filemaker_ZIP_listeRapportsLots", {numlot: numlot}) }}' type="button" class="btn btn-primary btn-lg btn-block">
					<span class="glyphicon glyphicon-save URLext" aria-hidden="true"></span>&nbsp;Télécharger ZIP
				</a>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-2"></div>
		</div>
		#}
	</div>
{% endblock body %}