

{% macro headDoc(rapport, params) %}
	{% import _self as bases %}
	{% set defaultBacktop = '20mm' %}
	{% set defaultBackbottom = '16mm' %}
	{% set defaultBackleft = '12mm' %}
	{% set defaultBackright = '12mm' %}
	{% set defaultOrientation = 'P' %}
	{% if params|default(false) == false or params is not iterable %}
		{% set params = {backtop: defaultBacktop, backbottom: defaultBackbottom, backleft: defaultBackleft, backright: defaultBackright, orientation: defaultOrientation} %}
	{% endif %}
	<h3>HEAD</h3>
	<p>Backtop : {{ params.backtop|default(defaultBacktop) }}</p>
	<p>Backbottom : {{ params.backbottom|default(defaultBackbottom) }}</p>
	<p>Backleft : {{ params.backleft|default(defaultBackleft) }}</p>
	<p>Backright : {{ params.backright|default(defaultBackright) }}</p>
	<p>Orientation : {{ params.orientation|default(defaultOrientation) }}</p>
	<p>Rapport : {{ rapport.getField('rapport_nom')|raw }}</p>
	{{ bases.endDoc() }}
{% endmacro %}

{% macro endDoc() %}
	<p>END macro self call</p>
	<br>
{% endmacro %}



