{# utilisation des macros => http://twig.sensiolabs.org/doc/tags/macro.html #}
{% import "ensemble01filemakerBundle:pdf:base_RDM-DAPP_001.html.twig" as base %}

{% set RESO = false %}
{% set neant = 'Néant' %}
{% set info_manquante = info_manquante|default('<span style="background-color:yellow;color:red;font-size:0.7em;">INFORMATION MANQUANTE</span>') %}
{% set observation = 'Sans objet' %}
{% set date = FMtoSimpleDate(rapport.getField('rapport_date_signature')) %}
{% set cherchepresence = '/^(.*)(presen|présen)(.*)$/i' %}

{{ base.headDoc(rapport, date, imgpath, format) }}

	<div class="bloc1">
		<h1 class='center'>REPÉRAGE DES MATÉRIAUX ET PRODUITS<br>DES LISTES A ET B DE L’ANNEXE 13-9 DU CODE<br>DE LA SANTÉ PUBLIQUE DES PARTIES PRIVATIVES</h1>
		<p class="mini6 reduit center" style="width:100%; text-align:center;">Mission réalisée à la demande du commanditaire hors cadre réglementaire</p>
		<div class="logoentete" style="width:100%; text-align:center;">
			{{ image_base64(rapport.getField("soc_logo"))|raw }}
		</div>
		<p class="mini10 bolder center" style="width:100%; text-align:center;">Référence rapport&nbsp;: {{ rapport.getField('rapport_nom')|default(info_manquante)|raw }}</p>
	</div>

	<table class="type1 allcenter col-2" align="center">
		<thead>
			<tr>
				<th colspan="100%">Immeuble bâti visité</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Adresse</td>
				<td>
					{{ rapport.getField('local_type_bat_texte')|default(info_manquante)|raw }}<br>
					{{ rapport.getField('local_adresse')|default(info_manquante)|raw }}<br />
					{{ rapport.getField('local_cp')|raw }} {{ rapport.getField('local_ville')|default(info_manquante)|raw }}
				</td>
			</tr>
			<tr>
				<td>Année de construction</td>
				<td>{{ getDateConstruction(rapport.getField('documents_anterieurs'))|default(info_manquante)|raw }}</td>
			</tr>
			<tr>
				<td>Type de logement</td>
				<td>{{ rapport.getField('local_type_logement')|default(info_manquante)|raw }}</td>
			</tr>
			<!-- ENTETE BIS -->
			<tr>
				<th>Commanditaire</th>
				<th>Société de contrôle</th>
			</tr>
			<!-- END&nbsp;: ENTETE BIS -->
			<tr>
				<td>
					<p style='width:100%; text-align:center;'>{{ image_base64(rapport.getField("client_logo_base64"), null, null, '128px')|raw }}</p>
					<strong>{{ rapport.getField('client_nom')|default(info_manquante)|raw }}</strong><br>
					{{ rapport.getField('client_adresse')|default(info_manquante)|raw }}<br>
					{{ rapport.getField('client_cp')|default(info_manquante)|raw }} {{ rapport.getField('client_ville')|default(info_manquante)|raw }}
				</td>
				<td style='vertical-align:middle;'>
					<span class="bold">{{ rapport.getField('soc_nom')|default(info_manquante)|raw }} - {{ rapport.getField('soc_agence')|default(info_manquante)|raw }}<br>
					{{ rapport.getField('soc_adresse')|default(info_manquante)|raw }}<br>
					{{ rapport.getField('soc_cp')|default(info_manquante)|raw }} {{ rapport.getField('soc_ville')|default(info_manquante)|raw }}<br>
					Tél.&nbsp;: {{ rapport.getField('soc_tel')|default(info_manquante)|raw }}<br>
					{{ rapport.getField('soc_rcs')|default(info_manquante)|raw }}</span>
				</td>
			</tr>
			<!-- ENTETE BIS -->
			<tr>
				<th>Représentant</th>
				<th>Représentant</th>
			</tr>
			<!-- END&nbsp;: ENTETE BIS -->
			<tr>
				<td>
					<span class="bold">
						{{ rapport.getField('client_representant_civilite')|default(info_manquante)|raw }} {{ rapport.getField('client_representant_prenom')|default(info_manquante)|raw }} {{ rapport.getField('client_representant_nom')|default(info_manquante)|raw }}
						<br>
						{{ rapport.getField('client_representant_fonction')|default(info_manquante)|raw }}
					</span>
				</td>
				<td>
					<span class="bold">
						{{ rapport.getField('soc_representant_civilite')|default(info_manquante)|raw }} {{ rapport.getField('soc_representant_prenom')|default(info_manquante)|raw }} {{ rapport.getField('soc_representant_nom')|default(info_manquante)|raw }}
						<br>
						{{ rapport.getField('soc_representant_fonction')|default(info_manquante)|raw }}
					</span>
				</td>
			</tr>
			<!-- ENTETE BIS -->
			<tr>
				<th>Références</th>
				<th>Visites de repérage</th>
			</tr>
			<!-- END&nbsp;: ENTETE BIS -->
			<tr>
				<td class="left">
					<span class="underline">Référence dossier</span>&nbsp;: 
					<span class="bold" style="text-align:left;">
						{{ rapport.getField('rapport_nom')|default(info_manquante)|raw }}
					</span>
					<br>
					<span class="underline">Opérateur de repérage et Signataire</span>&nbsp;:
					<br>
					<span class="bold">
						{{ nomsTechniciens(rapport)|default(info_manquante)|raw }}
					</span>
				</td>
				<td class="left" style='vertical-align:middle;'>
					<span class="underline">Date de commande</span>&nbsp;: 
					<span class="bold">
						{{ transFMdate(rapport.getField('date_commande'))|default(info_manquante)|raw }}
					</span>
					<br>
					<span class="underline">Date de visite</span>&nbsp;: 
					<span class="bold">
						{{ FMtoSimpleDate(rapport.getField('date_visite'))|default(info_manquante)|raw }}
						{# lastdate(rapport.getField('local_dates_visites'))|default(info_manquante)|raw #}
						{# separdates(rapport.getField('local_dates_visites'), true)|default(info_manquante)|raw #}
					</span>
					<br>
					<span class="underline">Accompagnateur</span>&nbsp;: 
					<span class="bold">
						{{ neant }}
					</span>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="conclusion">
		{{ magnifyText(rapport.getField('rapport_conclusion_DAPP'))|default(info_manquante)|raw }}
	</div>

{{ base.endPage(format) }}
{{ base.newPage(rapport, date, format, {header: true}) }}

		{# !!! SOMMAIRE !!! #}

{{ base.endPage(format) }}
{{ base.newPage(rapport, date, format, 'default') }}

	<nobreak>
	<bookmark title="1. OBJET ET CADRE DE LA MISSION" level="0"></bookmark>
	{{ CSSclass('<h2>1. OBJET ET CADRE DE LA MISSION</h2>', 'greyline', 'div')|raw }}

		<p>La mission consiste, au-delà cadre réglementaire, à procéder au repérage visuel des matériaux des listes A et B de l’annexe 13-9 du CSP (Code de la Santé Publique) directement accessibles, sans démontage, ni déplacement d’objets, dans les parties privatives des locaux désignés en page de garde du présent rapport.</p>
		<p>A la demande de la maîtrise d’ouvrage, aucuns prélèvements de MPSCA (Matériaux et Produits Susceptibles de Contenir de l’Amiante) ne seront réalisés pour analyses en laboratoire. Nous rappelons que seules les analyses de prélèvements desdits matériaux, permettent de conclure quant à la présence ou l’absence d’amiante ; le présent rapport a dès lors pour unique objet d’apporter un éclairage, quant à la présence de MPSCA au sein des locaux visités.</p>
		<p>Le présent repérage ne permettant pas de conclure quant à la présence ou l’absence d’amiante, l’ensemble des matériaux et produits repérés sont mentionnés au sein du paragraphe 4 «Tableau de repérage » comme étant <span class="ital">« susceptibles de contenir de l’amiante »</span>.</p>
		<p>La maîtrise d’ouvrage disposera ainsi d’une cartographie de son patrimoine, lui permettant d’estimer le coût moyen d’un repérage réalisé conformément à la réglementation, au vu du nombre de matériaux devant faire l’objet d’un prélèvement pour analyse (<span class="ital">ce nombre pouvant éventuellement être optimisé en présence de zones homogènes et de zones présentant des similitudes d’ouvrages</span>).</p>

		<p class="signature">
			À {{ firstCapOnly(rapport.getField('soc_ville'))|default(info_manquante)|raw }}, le {{ date }},<br>
			L’opérateur de repérage<br>
			<br>
			{{ rapport.getField('tech_signataire_prenom')|default(info_manquante)|raw }} {{ rapport.getField('tech_signataire_nom')|default(info_manquante)|raw }}<br>
			{{ image_base64(rapport.getField("tech_signataire_signature"), null, null, '60mm')|raw }}
		</p>

	</nobreak>

{{ base.endPage(format) }}
{{ base.newPage(rapport, date, format) }}

	<nobreak>
	<bookmark title="2. PROGRAMME DE REPÉRAGE" level="0"></bookmark>
	{{ CSSclass('<h2>2. PROGRAMME DE REPÉRAGE</h2>', 'greyline', 'div')|raw }}

		<table class='type5'>
			<thead>
				<tr>
					<th class='one center'>Liste A de l’annexe 13-9 du Code de la santé publique</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class='two center'>COMPOSANT À VÉRIFIER OU À SONDER</td>
				</tr>
				<tr>
					<td class='center'>Flocages</td>
				</tr>
				<tr>
					<td class='center'>Calorifugeages</td>
				</tr>
				<tr>
					<td class='center'>Faux plafonds</td>
				</tr>
			</tbody>
		</table>
		<br>

		<table class='type5 listeB'>
			<thead>
				<tr>
					<th class='one center fullwidth' colspan="100%">Liste B de l’annexe 13-9 du Code de la santé publique</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class='two center' style='font-size: 0.8em;'>COMPOSANT DE LA CONSTRUCTION</td>
					<td class='two center' style='font-size: 0.8em;'>PARTIE DU COMPOSANT À VÉRIFIER OU À SONDER</td>
				</tr>
				<tr>
					<td class='three center fullwidth' colspan="100%">1. Parois verticales intérieures</td>
				</tr>
				<tr>
					<td class='center'>Murs et cloisons "en dur" et poteaux (périphériques et intérieurs).</td>
					<td class='center'>Enduits projetés, revêtements durs (plaques menuiserie, amiante-ciment) et entourages de poteaux (carton, amiante-ciment, matériau sandwich, carton + plâtre), coffrage perdu.</td>
				</tr>
				<tr>
					<td class='center'>Cloisons (légères et préfabriquées), gaines et coffres.</td>
					<td class='center'>Enduits projetés, panneaux de cloisons.</td>
				</tr>
				<tr>
					<td class='three center fullwidth' colspan="100%">2. Planchers et plafonds</td>
				</tr>
				<tr>
					<td class='center'>Plafonds, poutres et charpentes, gaines et coffres.</td>
					<td class='center'>Enduits projetés, panneaux collés ou vissés.</td>
				</tr>
				<tr>
					<td class='center'>Planchers.</td>
					<td class='center'>Dalles de sol.</td>
				</tr>
				<tr>
					<td class='three center fullwidth' colspan="100%">3. Conduits, canalisations et équipements intérieures</td>
				</tr>
				<tr>
					<td class='center'>Conduits de fluides (air, eau, autres fluides...).</td>
					<td class='center'>Conduits, enveloppes de calorifuges.</td>
				</tr>
				<tr>
					<td class='center'>Clapets/volets coupe-feu.</td>
					<td class='center'>Clapets, volets, rebouchage.</td>
				</tr>
				<tr>
					<td class='center'>Portes coupe-feu.</td>
					<td class='center'>Joints (tresses, bandes).</td>
				</tr>
				<tr>
					<td class='center'>Vide-ordures.</td>
					<td class='center'>Conduits.</td>
				</tr>
				<tr>
					<td class='three center fullwidth' colspan="100%">4. Éléments extérieurs</td>
				</tr>
				<tr>
					<td class='center'>Toitures.</td>
					<td class='center'>Plaques, ardoises, accessoires de couverture (composites, fibres-ciment), bardeaux bitumineux.</td>
				</tr>
				<tr>
					<td class='center'>Bardages et façades légères.</td>
					<td class='center'>Plaques, ardoises, panneaux (composites, fibres-ciment).</td>
				</tr>
				<tr>
					<td class='center'>Conduits en toiture et façade.</td>
					<td class='center'>Conduits en amiante-ciment : eaux pluviales, eaux usées, conduits de fumée.</td>
				</tr>
			</tbody>
		</table>
		<br>

	</nobreak>

{{ base.endPage(format) }}
{{ base.newPage(rapport, date, format) }}

	<nobreak>
	<bookmark title="3. LISTE DES LOCAUX OU PARTIES DE LOCAUX NON VISITÉS" level="0"></bookmark>
	{{ CSSclass('<h2>3. LISTE DES LOCAUX OU PARTIES DE LOCAUX NON VISITÉS</h2>', 'greyline', 'div')|raw }}

	</nobreak>

{{ base.endPage(format) }}
{{ base.newPage(rapport, date, format) }}

	<bookmark title="4. TABLEAU DE REPÉRAGE" level="0"></bookmark>
	{{ CSSclass('<h2>4. TABLEAU DE REPÉRAGE</h2>', 'greyline', 'div')|raw }}

	<bookmark title="4.1. Liste des matériaux et produits de la liste A de l’annexe 13-9 du Code de la santé publique susceptibles de contenir de l’amiante" level="1"></bookmark>
	<h3>4.1. Liste des matériaux et produits de la liste A de l’annexe 13-9 du Code de la santé publique susceptibles de contenir de l’amiante</h3>

	<bookmark title="4.2. Liste des matériaux et produits de la liste B de l’annexe 13-9 du Code de la santé publique susceptibles de contenir de l’amiante" level="1"></bookmark>
	<h3>4.2. Liste des matériaux et produits de la liste B de l’annexe 13-9 du Code de la santé publique susceptibles de contenir de l’amiante</h3>

{{ base.endPage(format) }}
{{ base.newPage(rapport, date, format) }}

	<bookmark title="5. ATTESTATION D'ASSURANCE ET CERTIFICATION" level="0"></bookmark>
	{{ CSSclass('<h2>5. ATTESTATION D\'ASSURANCE ET CERTIFICATION</h2>', 'greyline', 'div')|raw }}

{{ base.endPage(format) }}
{{ base.newPage(rapport, date, format) }}

	<bookmark title="6. RECOMMANDATIONS GÉNÉRALES DE SÉCURITÉ" level="0"></bookmark>
	{{ CSSclass('<h2>6. RECOMMANDATIONS GÉNÉRALES DE SÉCURITÉ</h2>', 'greyline', 'div')|raw }}

{{ base.endDoc(format) }}
