{% trans_default_domain 'FOSUserBundle' %}
<h4 class="well well-md">Modifiez votre compte<br /><small>Note : les libellés en rouge sont obligatoires</small></h4>
{% if form_errors(form) != null %}
<div class="alert alert-danger">
	{{ form_errors(form) }}
</div>
{% endif %}
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
	<div class="panel panel-default">
		<div class="panel-heading">Informations de connexion</div>
		<div class="panel-body">
			<div class="col-xs-4">{{ form_label(form.email) }}</div>
			<div class="col-xs-6">{{ form_widget(form.email) }}</div>
		</div>
			{{ form_errors(form.email) }}
		<div class="panel-body">
			<div class="col-xs-4">{{ form_label(form.username) }}</div>
			<div class="col-xs-6">{{ form_widget(form.username) }}</div>
		</div>
			{{ form_errors(form.username) }}
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Connexion Filemaker</div>
		<div class="panel-body">
			<div class="col-xs-4">{{ form_label(form.fmlogin) }}</div>
			<div class="col-xs-6">{{ form_widget(form.fmlogin) }}</div>
		</div>
			{{ form_errors(form.fmlogin) }}
		<div class="panel-body">
			<div class="col-xs-4">{{ form_label(form.fmpass) }}</div>
			<div class="col-xs-6">{{ form_widget(form.fmpass) }}</div>
		</div>
			{{ form_errors(form.fmpass) }}
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<input type="submit" value="Enregistrer les modifications" class="btn btn-warning" />
		</div>
	</div>

	{{ form_rest(form) }}
</form>