{% trans_default_domain 'FOSUserBundle' %}
<h4 class="well well-md">Informations du compte
	<a href="{{ path('fos_user_profile_edit') }}">
		<button type="button" class="btn btn-warning btn-xs pull-right" title="Modifier mon compte">Modifier le compte</button>
	</a>
</h4>

<div class="fos_user_user_show">
	{% if is_granted("ROLE_SUPER_ADMIN") %}
	<div class="alert alert-danger alert-dismissable hideauto" data-hide="8000 1000 fade">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		Vous êtes <strong>SUPER ADMINISTRATEUR</strong>
	</div>
	{% elseif is_granted("ROLE_ADMIN") %}
	<div class="alert alert-warning alert-dismissable hideauto" data-hide="8000 1000 fade">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		Vous êtes <strong>ADMINISTRATEUR</strong>
	</div>
	{% elseif is_granted("ROLE_EDITOR") %}
	<div class="alert alert-info alert-dismissable hideauto" data-hide="8000 1000 fade">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		Vous êtes <strong>EDITEUR</strong>
	</div>
	{% endif %}
	<div class="panel panel-default">
		<div class="panel-heading">Informations de compte</div>
		<div class="panel-body">
    		<p class="formRight col-xs-3">{{ 'profile.show.username'|trans }} :</p><p class="formLeft col-xs-7">{{ user.username }}</p>
  			<p class="formRight col-xs-3">{{ 'profile.show.email'|trans }} :</p><p class="formLeft col-xs-7">{{ user.email }}</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Éléments Filemaker</div>
		<div class="panel-body">
			<p class="formRight col-xs-3">Login :</p><p class="formLeft col-xs-7">{{ user.fmlogin }}</p>
			<p class="formRight col-xs-3">Pass :</p><p class="formLeft col-xs-7">{{ user.fmpass }}</p>
		</div>
	</div>
</div>