{% extends('ensemble01filemakerBundle::pageBaseFilemaker.html.twig') %}
{% block body %}
{{ parent() }}
<div class="container-fluid">
	<div class="well well-lg">
		<h3>Documentation Filemaker PHP</h3>
		<a class="btn btn-sm btn-primary URLext" href="https://fmhelp.filemaker.com/docs/13/fr/fms13_cwp_php.pdf">Documentation</a><span> FileMaker Server 13 API</span>
		<br /><br />
		<a class="btn btn-sm btn-primary URLext" href="http://lexikon.ling.su.se/">Documentation</a><span> FileMaker API Tutorial</span>
		<hr>
		<h3>Git repositories</h3>
		<a class="btn btn-sm btn-primary URLext" href="https://github.com/manu7772/filemakerBundle">GitHub Repository</a><span> FileMaker Bundle / Symfony2 (E.Dujardin - AEW 2014)</span>
		<br /><br />
		<a class="btn btn-sm btn-primary URLext" href="https://github.com/manu7772/baseproject">GitHub Repository</a><span> AppliWeb Géodiag / Symfony2 (E.Dujardin - AEW 2014)</span>
		{% if is_granted("ROLE_SUPER_ADMIN") %}
		<hr>
		<h3>Documentation &amp; données Géodem</h3>
		<a class="btn btn-sm btn-primary URLext" href="https://docs.google.com/document/d/1lOiUk9oxpx_M3yTdhPwDbO4fwgwURq3f6Rf_rHrcMvA/edit">Paramètres divers</a><span> Paramètres super Admin</span>
		<br /><br />
		<a class="btn btn-sm btn-primary URLext" href="https://docs.google.com/document/d/1FBK2_IUt6cEmiiljW-FWpqRC4phXA9l1Uyb_s_BktUI/edit#heading=h.k4sus242u1h0">Suivi projets</a><span> Données et modes opératoires Géodem</span>
		{% endif %}
		<hr>
		<h3>Tests…</h3>
		<a class="btn btn-sm btn-danger" href="{{ url('ensemble01site_rapportfm') }}">Test rapports</a><span> Test de génération de TOUS les rapports à faire (file)</span>
		<br /><br />
		<a class="btn btn-sm btn-warning" href="{{ url('ensemble01site_rapportfm', {id: '0000011950', type: 'RDM-DAPP', mode: 'file', format: 'pdf'}) }}">Test rapport</a><span> Test de génération d'un rapport PDF (file)</span>
		<br /><br />
		<a class="btn btn-sm btn-warning URLext" href="{{ url('ensemble01site_rapportfm', {id: '0000011950', type: 'RDM-DAPP', mode: 'screen', format: 'pdf'}) }}">Test rapport</a><span> Test de génération d'un rapport PDF (rendu écran)</span>
		<br /><br />
		<a class="btn btn-sm btn-warning URLext" href="{{ url('ensemble01site_rapportfm', {id: '0000011950', type: 'RDM-DAPP', mode: 'screen', format: 'html'}) }}">Test rapport</a><span> Test de génération d'un rapport HTML (rendu écran)</span>
	</div>
	<div class="well">
		<h3>Diagramme marché OPH93</h3>
		<div class="mxgraph" style="position:relative;overflow:auto;width:100%;"><div style="width:1px;height:1px;overflow:hidden;">3Vddb5s8FP41uczER0PSyyZNu0nvpEm52OXkYANWDQc5TkL663sMh2IK6VKt3d7tIgg/hmP7+bDJJFzl1b1mZfYVuFCTwOPVJLydBMEi8PFqgVMD+HN/0SCplrzBvA7YyEdBD7boXnKxI6yBDIAysuyDMRSFiE0PS0D1hyhZ2pbvgE3M1BD9LrnJ2kVEHf5ZyDRrh/Gj66ZnZ05tDS4StldmWkPYZ7tz1taiiVQelab2idpT31vM2sGK3qQeAfIeoMWuY4sWLPsEFOzQG3YLmgvdg5QsHlwmwzWqqQGwkL3Lq5VQVtG+WHdnep8J1KKgqbz+wpzHXHgsCXgc+rPoaho2FQ5M7WltX7DSKpzcXKeaGQmFdRM6Aq8oedNTN9dVbL33Qg4jKpzIMjO5QsDH253R8CBWoMAyUUCBTy4TqdQLiCmZWgliXIolbXkQ2kg0yw115JJzO8zymEkjNiWL7ZhHzAFigE8nCo6IZPicwBeWtDQsIygfI3x1KmCmBOTC6JN1DBmG3qA4oV8iYuzYGdb3SNzMMWtIuWOkdvpcu5MHb0ihC9XyyeAO4YJjpKgJ2mSQQsHUukOXGvYFF7Ykut5VpqllC7zODo4He12zPTYpmpNhOhX0GovmM/86nifCW8xZOJ1fjbOshUKPHfrjvy9jJNf/ijGak8vYOKt/grFguCUMKEyRofJsvOhsYNv28efj4NLYhX5tGDd3C0Kc3EUjsWt3+F+hZNy9rzOyy1hpb+MT7vD1pj+6TTle0mCa/bVx2UWb1Rmxhjz+BpaGUaOT1KFpeYtX7745NYBLlv79B8bFGlAJYoWcHBLzjkCzsdODLPe+yb7Axx+d7KB1iXOi0ix+Qkn0IZRcnmyZ11+zrlNbw/3HtkJ9g52kPG/BGPv1OHCkAWu9utLNrmy+n20h1jYSWdlzp3mkHhQTcxcriQwbvLsXTP/wg0WFv09lQXF6s2PPHMdUgj6yHT1CqtqzKH2lv+8eMrToJtayxLX/e/vGGRUoGVeXxaJ17BtkwGb3j6Puc/5Mhusn</div></div>
	</div>
</div>
{% endblock body %}