{% extends('ensemble01filemakerBundle::pageBaseFilemaker.html.twig') %}
{% block body %}
	<div class="container">
		<div class="well">Service : {{ fm.name }}</div>
	</div>
	<table class="table table-bordered table-hover table-condensed">
		<tr class="active">
			<th>Clé lieu</th>
			<th>Nom immeuble</th>
			<th>Adresse</th>
			<th>Loc. traités</th>
			<th>Loc. en serv.</th>
			<th>Loc. réel</th>
		</tr>
		{% for lieu in lieux %}
		<tr>
			<td>{{ lieu.getField("cle") }}</td>
			<td>{{ lieu.getField("NOM_IMMEUBLE")|raw }}</td>
			<td>{{ lieu.getField("rue_immeuble")|raw }}</td>
			<td>{{ lieu.getField("nb_locaux_diagnostique") }}</td>
			<td>{{ lieu.getField("nb_locaux_en_service") }}</td>
			<td>{{ lieu.getField("nb_locaux_calcule") }}</td>
		</tr>
		{%- endfor %}
	</table>
{% endblock body %}