{% extends('ensemble01filemakerBundle::pageBaseFilemaker.html.twig') %}
{% set fmdev = app.session.get('filemaker_DEV') %}
{% block body %}
	<div class="container">
		{% if layouts is iterable %}
		<h3 class="well well-xs">Liste des modèles de la base {{ fmdev['Base courante'] }} <small>de {{ fmdev['Serveur courant'] }}</small><br /><small>{{ layouts|length }} résultat(s) <span class="caret"></span></small></h3>
		<table class="table table-bordered table-hover table-condensed">
			<tr class="active">
				<th>Base <strong>{{ fmdev['Base courante'] }}</strong></th>
			</tr>
			{% for layout in layouts if layout != null %}
			<tr>
				<td>
					<a href="{{ url('ensemble01filemaker_pageweb', {page: 'liste-fields', pagedata: {layout: layout}|json_encode() }) }}" title="liste des champs du modèle {{ layout|raw }}">
						<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
					</a> {{ layout|raw }}</td>
			</tr>
			{%- endfor %}
		</table>
		{% else %}
		<h3 class="well well-xs">Liste des modèles<br /><small>Erreur</small></h3>
		<div class="alert alert-danger" role="alert">{{ layouts|raw }}</div>
		{% endif %}
	</div>
{% endblock body %}