{% extends('ensemble01filemakerBundle::BSpageBaseFilemaker.html.twig') %}
{% set fmdev = app.session.get('filemaker_DEV') %}
{% block h1 %}
	<h1 class="page-header">{{ h1|raw }}</h1>
{% endblock h1 %}
{% block body %}
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#">{{ server }}</a></li>
			<li><a href="{{ url('ensemble01filemaker_pageweb', {page: 'liste-layouts', pagedata: {server: server, base: base}|json_encode(true) }) }}">{{ base }}</a></li>
			<li class="active">{{ layout }}</li>
		</ol>
		{% if fields is iterable %}
		<h3 class="well well-xs">
			<small>
				{{ fields|length }} résultat(s) <span class="caret"></span>
			</small>
		</h3>
		<table id='datatable01' class="table table-bordered table-hover table-condensed">
			<tr class="active">
				<th>Liste des champs : <strong>{{ layout }}</strong> <small>{{ fields|length }} résultat(s)</small></th>
			</tr>
			{% for key,field in fields if fields != null %}
			<tr>
				<td>{{ key|raw }}</td>
			</tr>
			{%- endfor %}
		</table>
		{% else %}
		<h3 class="well well-xs"><small>Erreur</small></h3>
		<div class="alert alert-danger" role="alert">{{ fields|raw }}</div>
		{% endif %}
		{% if rel_fields is defined %}
		<table class="table table-bordered table-hover table-condensed">
			<tr class="active">
				<th>Liste des champs reliés : <strong>{{ layout }}</strong> <small>{{ rel_fields|length }} résultat(s)</small></th>
			</tr>
			{% for field in rel_fields if rel_fields != null %}
			<tr>
				<td>{{ field|raw }}</td>
			</tr>
			{%- endfor %}
		</table>
		{% endif %}
	</div>
{% endblock body %}