{% extends('ensemble01filemakerBundle::pageBaseFilemaker.html.twig') %}
{% set fmdev = app.session.get('filemaker_DEV') %}
{% block body %}
	<div class="container">
		{% if scripts is iterable %}
		<h3 class="well well-xs">Liste des scripts de la base {{ fmdev['Base courante'] }}<br /><small>{{ nb_scripts }} résultat(s)</small></h3>
		{% for key,groups in scripts %}
		<table class="table table-bordered table-hover table-condensed">
			<tr class="active">
				<th>{{ key }}</th>
			</tr>
			{% for script in groups %}
			<tr>
				<td>{{ script }}</td>
			</tr>
			{%- endfor %}
		</table>
		{%- endfor %}
		{% else %}
		<h3 class="well well-xs">Liste des scripts<br /><small>Erreur</small></h3>
		<div class="alert alert-danger" role="alert">{{ scripts|raw }}</div>
		{% endif %}
	</div>
{% endblock body %}