{% extends('ensemble01filemakerBundle::pageBaseFilemaker.html.twig') %}
{% block body %}
	<div class="container">
		{% if tiers is iterable %}
		<h3 class="well well-xs">
			{% block titretpl %}{{ titre }}{% endblock titretpl %}
			<br />
			<small>{{ tiers|length }} résultat(s) <span class="caret"></span></small>
		</h3>
		<table class="table table-bordered table-hover table-condensed">
			<tr class="active">
				{% block tablehead %}
				<th>Ref</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Type</th>
				<th>CP</th>
				<th>ville</th>
				<th>Id</th>
				{% endblock tablehead %}
			</tr>
			{% block tablelines %}
			{% for tier in tiers %}
			<tr>
				<td>{{ tier.getField("ref")|raw }}</td>
				<td>{{ tier.getField("nom")|raw }}</td>
				<td>{{ tier.getField("prenom")|raw }}</td>
				<td>{{ tier.getField("type_tiers")|raw }}</td>
				<td>{{ tier.getField("cp")|raw }}</td>
				<td>{{ tier.getField("ville")|raw }}</td>
				<td>{{ tier.getField("id_tiers")|raw }}</td>
			</tr>
			{%- endfor %}
			{% endblock tablelines %}
		</table>
		{% else %}
		<h3 class="well well-xs">
			{% block titretplerr %}{{ titre }}{% endblock titretplerr %}
			<br />
			<small>Erreur</small>
		</h3>
		<div class="alert alert-danger" role="alert">{{ tiers|raw }}</div>
		{% endif %}
	</div>
{% endblock body %}