{% extends('ensemble01filemakerBundle::BSpageBaseFilemaker.html.twig') %}
{% block h1 %}
	<h1 class="page-header">{{ h1|raw }}</h1>
	{% if affaires is iterable %}
	<small>{{ affaires|length }} résultat(s) <span class="caret"></span></small>
	{% else %}
	<small>Données nulles <span class="caret"></span></small>
	{% endif %}
{% endblock h1 %}
{% block body %}
	<div class="col-lg-12">
		{% if affaires is iterable %}
		<table id='datatable01' class="table table-striped table-bordered table-hover table-striped dataTable no-footer" role="grid" aria-describedby="dataTables-affaires-liste">
			<thead>
				<tr class="active">
					<th>Date</th>
					<th>Id</th>
					<th>Intitulé</th>
					<th>Client</th>
					<th>En charge</th>
					<th>Statut</th>
				</tr>
			</thead>
			<tbody>
				{% for affaire in affaires %}
				<tr>
					<td>{{ affaire.getField("date_projet")|raw }}</td>
					<td>{{ affaire.getField("id_Projet")|raw }}</td>
					<td>{{ affaire.getField("intitule")|raw }}</td>
					<td>{{ affaire.getField("client")|raw }}</td>
					<td>{{ affaire.getField("Fk_Id_ChargeAffaire")|raw }}</td>
					<td>{{ affaire.getField("Etat")|raw }}</td>
				</tr>
				{%- endfor %}
			</tbody>
		</table>
		{% else %}
		<!-- Message d'erreur -->
		{% include 'ensemble01filemakerBundle:errors:erreur-message.html.twig' with {message: affaires} only %}
		{% endif %}
	</div>
	<br>
	<br>
	{% if affaires is iterable %}
	{% for affaire in affaires %}
	<!-- .col-lg-4 -->
	<div class="col-lg-4 col-md-6">
		{% render(controller('ensemble01filemakerBundle:filemaker:moduleAdmin', {template: 'donutchart', blocdata: {affaire: affaire.getField("id_Projet"), title: 'Affaire <strong>' ~ affaire.getField("client") ~ '</strong>' }|json_encode(true) })) %}
	</div>
	<!-- /.col-lg-4 -->
	{%- endfor %}
	{% endif %}
{% endblock body %}